{% extends "base_admin.html" %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-lg-8 text-center">
                <h2 class="section-title mb-5">Bienvenido al Panel de Administración</h2>
                <p class="section-text">Aquí puedes gestionar todos los aspectos del sistema.</p>
            </div>
        </div>
    </div>

    <!-- Aquí puedes agregar más contenido específico para la página de administración -->
{% endblock %}